<div class="div container">
	<div class="row">
		<div class="col col-12">
	<h1>COURS ET ATELIERS
</h1>
<div class="card">
  <div class="card-body">
    <p>Cours particulier ou à deux. A partir de 16 ans, venez découvrir l’expérience du développement photographique. Ateliers Les ateliers, à destination des enfants peuvent être mis en place dans les écoles, MJC, centre sociaux ou toutes autres formes d’associations.</p>
  </div>
</div>
</div>	

</div>
	<div class="row">
		<div class="col col-6">
			 

<div class="card">
	<div class="card-title"></div>
	<p>Éducation à la lecture d’image</p>
  <div class="card-body">
	Comme son nom l’indique, cet atelier sera l’occasion d’aborder la manière d’appréhender toutes les images du quotidien. Pouvant s’adresser à tous les âges, cet atelier sera adapté en fonction de l’âge des participants. Il pourra se traduire par des minis jeux (classer des images par chronologie ou type d’image, trouver le titre de l’image...) ou échanges d’avis sur l’interprétation d’images publicitaires, de presse, de vidéos ou de dessins. L’atelier peut se terminer par une balade photographique, les enfants prennent des photos avec un appareil jetable, puis mini expo de leurs travaux à la fin de la semaine. 


Public Cible
Enfants entre 6 et 12 ans</p>
  </div>
</div>


		</div>
		<div class="col col-6">
			<div class="card">
				<div class="card-body"></div>
			<p>
				Nombre de personnes
1 intervenant pour 15 enfants
Matériel logistique
à prévoir par la structure d’accueil (ou ajouter 20€ supplémentaires) Éventuellement plusieurs appareils jetables (selon le nombre d’enfants) 
Durée/Tarif
Environ 2h
100€
			</p>
		</div>
			</div>
	</div>
	<div class="row">
		<div class="col col-6">
			<div class="card">
				<div class="card-body">
			<p>
				<div class="card-title">Créer un appareil de visée</div> 



Apprendre aux enfants à fabriquer un petit appareil de visée en carton, permettant de simuler l’appareil photo avant de tester de vrais appareils compacts. Ce sera aussi l’occasion d’un échange avec eux pour comprendre le principe de photographier et de cadrer pour obtenir une image.
 
L’atelier peut s’adapter en fonction du public enfant ciblé : 
De 3 à 5 ans les enfants fabriquent à l’aide de carton, 
De 6 à 10 ans les enfants vont fabriquer de petits appareils photos fonctionnels en papier à l’aide en origami.
			</p>
		</div>
		</div>
			</div>
		<div class="col col-6">
			<div class="card">
				<div class="card-title">
			<p>
				Public Cible
Enfants entre 3 et 5 ans
Enfants entre 6 et 10 ans
Nombre de personnes
1 intervenant pour 5 enfants (ou pour 10 selon l’âge des enfants)
Matériel logistique
à prévoir par la structure d’accueil (ou ajouter 20€ supplémentaires)
Ciseaux, colle, scotch, carton, feutre, cordelette 
Durée/Tarif
Environ 1h30
50€

			</p>
			</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col col-6">
			<div class="card">
				<div class="card-body">
			<p>Sténopé 

Description

Création avec un groupe, d’un sténopé grandeur nature. Les enfants seront sollicités pour parvenir à créer un “casque” sténopé, à l’aide de cartons peints en noir et de scotch. Une fois fait, un petit trou percé dans le casque  laissera alors entrer l’image de la ville. 
</p>
</div>
</div>
		</div>
		<div class="col col-6">
			<div class="card">
				<div class="card-body">
			<p>
				


Infos
Public Cible
Enfants entre 8 et 12 ans
Nombre de personnes
1 intervenant pour 10 enfants
Matériel logistique
à prévoir par la structure d’accueil (ou ajouter 20€ supplémentaires)
Ciseaux, colle, scotch, carton, peinture, pinceau
Durée/Tarif
½ journée
100€
 


			</p>
		</div>
	</div>
	<div class="row">
		<div class="col col-6">
			<div class="card">
				<div class="card-body">
			<p>
				Anthotype 
Description

Faire découvrir le principe de la photographie dans son essence, à des enfants, sans avoir recours à des produits chimiques. Le jus d’épinards laissera apparaître les images des feuilles, branches, et autres objets trouvés placés sur la feuille. 
Toutes les activités à destination des enfants n’ont recours à aucun produit chimique, ni dangereux ! 
			</p>
			</div>
		</div>
	</div>
			<div class="col col-6">
				<div class="card">
					<div class="card-body">
				<p>
					Infos
Public Cible
Enfants entre 4 et 7 ans 
Enfants entre 8 et 12 ans
Nombre de personnes
1 intervenant pour 5 enfants ou pour 10 (selon l’âge des enfants)
Matériel/logistique
à prévoir par la structure d’accueil (ou ajouter 20€ supplémentaires)
2 kg d’épinards (pour donner 200ml de solution = 20 feuilles A4) 
-Ciseaux 
-Mortiers et pilons 
-Mi-bas ou chaussettes fines
-Feuilles de papier Canson® 224g/m2 minimum) 
-Pinceaux plats 
-Une salle à l’abri de la lumière solaire 
-Un accès à l’extérieur 
-Torchons 
-Éponge et produit de nettoyage 
Durée/Tarif
1 journée
150€
				</p>
			
		</div>
	</div>
	<div class="row">
		<div class="col col-6">
			<div class="card">
				<div class="card-body">
			<p>
				Initiation au développement d’un négatif
 
Description

Faire découvrir le développement argentique en laboratoire en pratiquant en premier lieu le développement d’un négatif. Chaque participant devra avoir avec lui sa pellicule exposée  noir et blanc, 35mm ou 120, 24 ou 36 poses ou son appareil photo jetable exposé.
Nous verrons ensemble comment préparer les chimies permettant le développement, comment ouvrir sa pellicule puis procéder au développement. Puis nous ferons ensemble une planche contacte afin d’avoir une version positive des images. 
			</p>
		</div>
		</div>
</div>
		<div class="col col-6">
			<div class="card">
				<div class="card-body">
			<p>
				Infos
Public Cible
à partir de 16 ans
Nombre de personnes
3 personnes par session
Matériel/logistique
à prévoir par la structure d’accueil (ou ajouter 60€ supplémentaires)
    • une salle qui peut être plongée dans le noir avec accès à l’eau et l'électricité 
    • une table
    • des cuves de développement
    • des spires
    • 3 béchers graduées 
    • vinaigre d’alcool
    • du développeur spécial négatif (tetenal, illford...)
    • du fixateur (tetenal, illford...)
Durée/Tarif
Session de 2h30 – 75€
			</p>
		</div>
	</div>
</div>
	<div class="row">
		<div class="col col-6">
			<div class="card">
				<div class="card-body">
			<p>
				 Initiation au tirage argentique N&B
Description

Faire découvrir le développement argentique en laboratoire en pratiquant le tirage de plusieurs photos de leur choix en laboratoire. Nous verrons ensemble comment préparer les chimies, appréhender un agrandisseur, et les techniques de “retouche”. Les participants devront venir avec un négatif développé de leurs prises de vues.
			</p>
		</div>
		<div class="col col-6">
			<div class="card">
				<div class="card-body">
			<p>
				Infos 
Public Cible
à partir de 16 ans
Nombre de personnes
3 personnes par session
Matériel/logistique
à prévoir par la structure d’accueil (ou ajouter 60€ supplémentaires)
    • une salle qui peut être plongée dans le noir avec accès à l’eau et l'électricité 
    • une table
    • des bacs de développement
    • un agrandisseur
    • 3 béchers graduées 1L
    • vinaigre d’alcool
    • du développeur  (tetenal, illford...)
    • du fixateur (tetenal, illford...)
Durée/Tarif
Session de 2h30
90€
			</p>
		</div>
	</div>
</div>	