<div class="container ">
		 <ul class ="nav nav-tabs my-menu ">
      		<!-- <h5><li class="active nav-item"><a data-toggle="tab" href="#home">Toutes</a></li></h5> -->
      		<% @category.each do |cat| %>
    <h5><li class="nav-item mt-3 " ><a class="iterator " data-toggle="tab" href="#menu"><%= cat.name%></a></li></h5>

<% end %>

  </ul>

  <div class="tab-content">
        <% @category.each do |cat| %>
        <div id ="" class ="tab-pane fade image">
        <h3 class="mt-5"><%=cat.name%></h3>
        <div class="row">
          <p> <% cat.images.each do |image| %>
            <div class="col col-6">
            <%= image_tag(image, :style => "max-width: 200px; height:auto;") %>
          </div>
              <% end %>)
              </div>
              </div>
         </p>
      <% end %>
  
  </div>
</div>
 




<script>
	var a = document.getElementsByClassName("iterator");
	for (var i = 0; i < a.length; i++) {
  a[i].href = "#menu"+`${i+1}`;
  
}

    var b = document.getElementsByClassName("image");
    
    for (var e = 0; e <b.length; e++) {
     console.log(b[e]);
     b[e].id = "menu" + (e + 1); 
      // = ('' + `${e+1}`);
    }
</script>


  
