<div class="container-fluid">
	<div class="row">
		<div class="col col-12">
		<%= image_tag("photo_cropped.JPG", class: "center img-fluid", id: "home-img")%>
		<h1 id="title">NOÉMIE BLUMET PHOTO</h1>
	</div>
</div>
</div>



