
<header>
	<nav>
		<h3 id="logo">Noémie Blumet Photo</h3>
	</nav>
	<section>
		<div class="test">
		<%= image_tag("photo.JPG", width: '1000px', class: "center")%>
	</div>
	</section>
</header>

<div class="slider"></div>


