<section class="section-landing">	
	<div class="landing-image-container">
			
		<%= link_to categories_path do %>
			<%= image_tag("landing.JPG", class: "landing-image") %>
		<% end %>

		<h1> <%= link_to "NOÉMIE BLUMET PHOTO", categories_path, id: "landing-title" %></h1>		
	</div>
</section>