<div class="landing-image-container">
	<div>
		<h1> <%= link_to "Noémie Blumet", categories_path, id: "landing-title", class:" test-title"%></h1>
		<h2> <%= link_to "Photographie", categories_path, id: "landing-title2", class:" test-title"%></h2>
	</div>
</div>

