		<div class="row landing-image-container">
			<div class="col">
				<%= link_to static_pages_home_path do %>
					<%= image_tag("landing.JPG", class: "landing-image") %>
				<% end %>
				<h1> <%= link_to "NOÉMIE BLUMET PHOTO", static_pages_home_path, id: "landing-title" %></h1>
				</div>

					
				
		</div>