
<%= link_to 'New article', new_article_path %>
<p>
  <strong>Title:</strong>
  <% @articles.each do |article| %>
  <%= article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%=article.body %>
  <%= article.category %> 
</p>


<% end %>
 
