<div class="container-fluid margin-footer">
    <h1 class="text-center mt-5 mb-5"> Créer une nouvelle galerie </h1>
    <div class="row align-items-center">
        <div class="col col-sm-8 col-md-8 col-lg-6 text-center mx-auto">
            <%= form_tag url_for(action: 'create'), method: "post", class: "mt-4" do %>  
            <p class="text-center mb-5"><%= text_field_tag 'name', @catalogue.name, class: "form-control", placeholder: "titre" %></p>
            <p class="text-center"><%= text_field_tag 'description', @catalogue.description, placeholder: "description" , class: "form-control" %></p>
            <%= submit_tag "Créer le nouveau catalogue", class: "btn btn-primary mb-3 mt-3 form-control" %>
            <% end %>
        </div>
    </div>
</div>
