

<!-- expo + modals -->
<div class="container mb-5">   
    <div class="row mb-5 pb-5 ">
        <div class="col col-12">
            <% @catalogues.each do |cat| %>
            <div class="row-flex">
                <% cat.pictures.each do |image| %>
                     <div class="column-flex">
                        <%= image_tag((image), class:" d-block w-100 fit  carrd-img-top gallery-item ")%>
                    </div> 
                <% end %>
                </div>
            <% end %>  
        </div>
    </div>                       
</div>
