 <!-- menu de l'exposition -->


 <div class="container-fluid margin-footer">
    <div class="row">
        <div class="col col-12">
            <ul class ="nav nav-tabs border-light my-menu justify-content-center">
                <% @catalogues.each do |cat| %>
                    <% cat.pictures.sort_by{|t| - t.created_at.to_i}.first(1).each do |image| %>
                        <li class="nav-item mt-3" ><a class="iterator" data-toggle="tab" href="#menu"><%= image_tag(image, class:"fit")%></a>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>

    <!-- expo + modals -->

    <div class="row ">
        <div class="col col-12">
            <div class="tab-content">
                <% @catalogues.each do |cat| %>
                    <div id ="" class ="tab-pane fade image ">
                        <h3 class="mt-5 mb-5 text-center"><%=cat.name%></h3>
                        <p class="mt-5 mb-5 text-center"><%=cat.description%></p>
                        <div class="container">
                            <div class="container-fluid2 ">    
                                <div class="row-flex " >
                                    <% cat.pictures.each do |image| %>
                                        <div class="column-flex">
                                            <%= image_tag((image), class:" d-block  w-100 fit carrd-img-top")  %>
                                             <div class="modal">

                                        <!-- The Close Button -->
                                                <span class="close">&times;</span>

                                        <!-- Modal Content (The Image) -->
                                                <img class="modal-content" id="" >

                                        <!-- Modal Caption (Image Text) -->
                                                <div class="captions" id=""></div>
                                            </div>
                                        </div>
                                    <% end %> 
                                </div> 
                            </div>
                        </div>                       
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>





