
.title {
  font-family: 'Jaapokki';
}

nav {
	display: grid;
	min-height: 15vh;
	background-color:  #21201E;
}   

.site {
  background-color: #E3E2E0;
}

a.nav-link {
	color:white;
}

a:hover {
  text-decoration: none !important;
}


p {
  font-family: 'Maiandra';
	text-align: justify;
	line-height: 2;
	font-size: 16px;
}

li {
  font-family: 'Maiandra';
}

li .nav-link {
  font-weight: 300;
}

h1 {
  font-family: 'Jaapokki';
}

h2 {
  font-family: 'Jaapokki';
	text-align: center;
}

h3 {
  font-family: 'Jaapokki';
}

h4 {
  font-family: 'Jaapokki';
}

h5 {
  font-family: 'Jaapokki';
}

h6 {
  font-family: 'Jaapokki';
}

.my-btn-article {
  font-family: 'Maiandra';
}


.card-body {
	font-size: 16px;
}

.card-title {
	font-size: 20px;
}


.center {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#logo {
	width: 200px;
	text-align: justify;
	padding: 20px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 100%;

}

/*LANDING PAGE*/

#landing-title {
  color: #5F5852;
  text-align: center;
}
#landing-title2 {
  color: #5F5852;
  text-align: center;
}

/*.landing-image-container {
  height: 100% !important;
  padding: 0;
  margin: 0;
	display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #E3E2E0;	
}
*/

.logo {  
  max-height: 250px;
}

/*.section-landing {
	height: 100vh;
	overflow: hidden;
}*/

/* Admin */


.my-btn {
	border-radius: 25px !important;
}


.my-btn-display {
	display: block;
	text-align: center;
}

.my-form {
	text-align: center;
}

.my-menu {
    margin: auto;
}

.admin-image-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
 /*          RESPONSIVE GALERY              */

.my-border {
  border-bottom: none !important;
}


/*.menu-name {
  color: black;
  text-align: center; 
}*/

/* .container-fluid2 {
 	box-sizing: border-box;

 }
*/
.row-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column-flex {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  flex-shrink: 1;

}

.column-flex img {
  margin-bottom: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column-flex {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column-flex {
    flex: 100%;
    max-width: 100%;
  }
}


/* *************************************** */



.fit {
	width: 200px;
	height: 200px;
	object-fit: cover;
}


/*Test modal*/
/* Style the Image Used to Trigger the Modal */
 /* Style the Image Used to Trigger the Modal */
.carrd-img-top{
  border-radius: 1px;
  cursor: pointer;
  transition: 0.3s;
}

/*.carrd-img-top:hover {
  opacity: 0.7;
}*/

/* The Modal (background) */
.modal {
  display: inline-block; /* Hidden by default */
  vertical-align: middle;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
   /* Location of the box */
/*  left: 50%;
  top: 50%;*/
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: hidden !important; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.1); /* Black w/ opacity */

  
/*  justify-content: center;*/
}

/* Modal Content (Image) */
.modal-content {
  /*vertical-align: middle !important;*/
    max-height: 100vh;
  /*  max-width: 100vh;*/
    max-width: 30%;
   position: absolute;
   float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;

    /*object-fit: contain;*/
  border-style: solid !important;
  border-width: 15px !important;
  border-color: white !important;
  border-radius: 7px !important;
  /*position: absolute;*/
  background-color: inherit;

}


/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: white !important;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
    top: 50vh;
  }
}


/* FOOTER */


html {
    position: relative;
  min-height: 100%;

}

body {
  background-color: #E3E2E0;
  margin-bottom: 160px;
}

footer {
  color: white;
  display: grid;
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 80px;
  width: 100%;
  /*background-color: #D6D6D6;*/
  background-color: #21201E;
}

.bottom-footer {
  /*background-color: #D6D6D6;*/
  background-color: #21201E;
}

.margin-footer{
  margin-bottom: 20vh;
}

/* Article */

.card-shadow {
  box-shadow: 2px 2px 18px #888888;
}


.card-body-article {
  background-color: rgba(200,200,200,0.2);
}

.my-btn-article {
  border-radius: 25px !important;
}


/*  Mangific popup      */
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(255, 255, 255);
  background: rgba(227, 226, 224, 0.90); 
  color: #21201E; 
  width: 100%;
  height: 100%;
  margin: 0;
  transition: .5s ease;
  opacity:0;
  font-size: 30px;
  text-align: center;
  padding-top: 139px;
}


.my-test-overlay {
  width: 100%;
  max-height: 350px; 
  height: auto;
  object-fit: cover;
}

.my-test-container {
  position: relative;
  max-height: 350px; 
  object-fit: cover;
 /* max-width: 300px;*/
}


.my-test-container:hover .overlay {
  opacity: 1;
}

.my-overlay-container {
  margin-bottom: 50px;
}


/* back to top*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 120px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: #B4B4B4;
  font-size: 60px;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

/* test animation landing*/

.landing-image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #E3E2E0; 
  padding: 20px 82px;

 }


.landing-image-container:before  {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-top: 20px solid #5F5852;;
  border-bottom: 20px solid #5F5852;;
  box-sizing: border-box;
  transform: scaleX(0);
  transition: 1.5s;
 }

 .landing-image-container:hover:before {
  transform: scaleX(1);
 }

 .landing-image-container:after  {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-left: 20px solid #5F5852;;
  border-right: 20px solid #5F5852;;
  box-sizing: border-box;
  transform: scaleY(0);
  transition: 1.5s;
 }

 .landing-image-container:hover:after {
  transform: scaleY(1);
 }