<!-- Footer -->
 <% if false %>
<footer class="mt-5">
	<div id="container-footer" class="container-fluid ">
		<div class="row mt-2">
			<div class="col col-12 text-dark text-center">
				<i class="fab fa-facebook ml-4"></i>
				<i class="fab fa-instagram ml-4"></i>
			</div>
		</div>

		<div class="row bottom-footer " >
			<div class="col col-12 "> 
				<p class="text-center mt-3 mail">noemieblumet@gmail.com</p>
			</div>
			<div class="col col-12 text-center">
				<p class="text-center">06.25.27.86.05</p>
			</div>
		</div>
	</div>
</footer>

<% end %>

<footer class="mt-5" %>
	<div class="container-fluid ">
		<div class="row mt-2">
			<div class="col col-4 text-dark text-center" style="padding-top: 45px;">
				<i class="fab fa-facebook ml-4"></i>
				<i class="fab fa-instagram ml-4"></i>
			</div>
			<div class="col col-4">
				<p class="text-center mail" style="padding-top: 40px;">noemieblumet@gmail.com</p>
			</div>
			<div class="col col-4">
				<p class="text-center" style="padding-top: 40px;">06.25.27.86.05</p>
			</div>	
		</div>
	</div>
</footer>