<!-- Footer -->

<footer class="mt-5">

		<div id="container-footer" class="container-fluid mb-2">
			<div class="row mt-2">

				<div class="col col-12 text-dark text-center">
					<i class="fab fa-twitter-square"></i>
					<i class="fab fa-facebook ml-4"></i>
					<i class="fab fa-instagram ml-4"></i>
					<i class="fab fa-pinterest-square ml-4"></i>
				</div>

			</div>
		</diçv>

		<div class="row bottom-footer " style="border-top: 1px solid white;">
			<div class="col col-12 "> 
				<p class="text-center mt-3 mail">noemieblumet@gmail.com</p>
			</div>
			<div class="col col-12 text-center">
				<p class="text-center">06.25.27.86.05</p>
			</div>
		</div>
</footer>